@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #1A1A2E;
$secondary-background: #16213E;
$accent-color-1: #0F3460;
$accent-color-2: #E94560;
$light-text: #EAEAEA;
$muted-text: #A6A6A6;

$font-family: 'Montserrat', sans-serif;
$base-font-size: 16px;
