@import '../../styles/variables';
.proficiency_card {
    position: relative;
    width: 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-left: 1px solid $light-text;
    border-right: 1px solid $light-text;
    border-bottom: none;
    border-top: none;
    overflow: hidden;
    display: flex;
    align-items:  center;
    justify-content: center;
    color: $light-text;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    flex-direction: column;
  }
  
  .proficiency_fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: height 0.3s ease;
  }
  .proficiency_gray_fill{
    position: absolute;
    background-color: #00000099;
    z-index: 1;
    top: 0;
    left: 0;
    filter: grayscale(1);
    width: 100%;
    transition: height 0.3s ease;
  }
  .proficiency_img{
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    border: 1px solid $light-text;
    background-color: #fff;
    box-shadow: 0 0 5px #444;
    z-index: 1;
  }
  .proficiency_text {
    color: $light-text;
    background-color: #444;
    padding: 4px 8px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
  }
  